# Configuración para el script de git clone y DeNote
# Este archivo es leído por el script principal

# Nombre del proyecto/rama a utilizar
PROJECT="isns-lvnl_dev"

# Label para el análisis DeNote
LABEL="01.00.10_37"
